name: build maturin wheel

on:
  schedule:
    - cron: '0 17 * * *'
  pull_request:
    branches: ["main"]
    paths:
      - ".github/workflows/maturin.yaml"
  push:
    branches: ["main"]
    paths:
      - ".github/workflows/maturin.yaml"
  workflow_dispatch:
    inputs:
      version:
        required: false
        default: 'latest'
env:
  PACKAGE_NAME: maturin
jobs:
  check-wheel-exists:
    name: Check if exists
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.check.outputs.version }}
      build: ${{ steps.check.outputs.build }}
    steps:
      - name: Check if wheels exist
        id: check
        run: |
          pkg=${{ env.PACKAGE_NAME }}

          if [[ "${{ github.event_name }}" == "workflow_dispatch" ]]; then
            version="${{ github.event.inputs.version }}"
          else
            version="latest"
          fi

          url="https://lpypi.loongnix.cn/loongson/pypi/+simple/${pkg}/"
          upstream_url="https://pypi.org/pypi/${pkg}/json"

          if [[ "${version}" == "latest" ]]; then
            version="$(curl -s ${upstream_url} | jq -r '.info.version')"
          fi

          if curl -Ls "${url}" | grep -q "${pkg}-${version}.*loongarch64"; then
            echo "wheel has already exist"
            echo "build=false" >> $GITHUB_OUTPUT
          else
            echo "wheel not found, continue building."
            echo "build=true" >> $GITHUB_OUTPUT
          fi

          echo "version=v${version}" >> $GITHUB_OUTPUT

  build:
    name: Build ${{ matrix.platform.target }}
    needs: [check]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        platform:
          - target: "loongarch64-unknown-linux-musl"
            image: "rust-musl-cross:loongarch64-musl"
            compatibility: "manylinux_2_36 musllinux_1_2"
            rustflags: "-C target-feature=+crt-static"
    container:
      image: docker://ghcr.io/rust-cross/${{ matrix.platform.image }}
      env:
        RUSTUP_HOME: /root/.rustup
        CARGO_HOME: /root/.cargo
        CARGO_PROFILE_RELEASE_LTO: "${{ matrix.platform.lto || 'fat' }}"
      steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          repository: PyO3/maturin
          ref: ${{ needs.check.outputs.version }} 
      - run: rustup target add --toolchain stable ${{ matrix.platform.target }}
        if: ${{ !contains(fromJson('["s390x-unknown-linux-gnu"]'), matrix.platform.target) }}
      - uses: dtolnay/rust-toolchain@efa25f7f19611383d5b0ccf2d1c8914531636bf9 # stable
        if: contains(fromJson('["s390x-unknown-linux-gnu"]'), matrix.platform.target)
        with:
          toolchain: stable
          targets: ${{ matrix.platform.target }}
      - name: Install uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7
        with:
          # No need to take cache size for maturin in the release pipeline
          enable-cache: "false"
      - name: Install patchelf
        run: |
          pip install patchelf
      - name: Build wheel
        env:
          # Make psm compile, see https://github.com/rust-lang/stacker/issues/79
          RUSTFLAGS: ${{ matrix.platform.rustflags || '' }}
        run: |
          uvx maturin build --release -b bin -o dist \
            --target ${{ matrix.platform.target }} \
            ${{ !contains(fromJson('["loongarch64-unknown-linux-musl", "riscv64gc-unknown-linux-musl"]'), matrix.platform.target) && '--compatibility pypi' || '' }} \
            --compatibility ${{ matrix.platform.compatibility }} \
            --features password-storage
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ env.PACKAGE_NAME }}_${{ needs.check.outputs.version }}_${{ github.sha }}
          path: ./dist/*.whl

  upload:
    needs: [check, build]
    runs-on: loongarch64-abi2.0
    if: needs.check.outputs.build == 'true' && github.event_name != 'pull_request'

    steps:
      - name: Clean workspace
        run: safe-rm -rf * .*

      - uses: actions/download-artifact@v4
        with:
          name: ${{ env.PACKAGE_NAME }}_${{ needs.check.outputs.version }}_${{ github.sha }}
          path: dist

      - name: Upload wheel
        run: |
           ls dist/*.whl || exit 1
           pip install twine==6.0.1
           twine upload --repository-url https://lpypi.loongnix.cn/loongson/pypi dist/*.whl
        env:
          TWINE_USERNAME: ${{ secrets.INDEX_NAME  }}
          TWINE_PASSWORD: ${{ secrets.INDEX_TOKEN }}
